---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Plan</h1>
</header>

{{ content }}

<div class="home" style="font-size: 0.8em;">
    <ul class="responsive-table" style="margin-left: 0;">

        <li class="table-header">
            <div class="col col-1">Week</div>
            <div class="col col-1-2">Day</div>
            <div class="col col-2">Slot 1 Activities</div>
            <div class="col col-2">Slot 2 Activities</div>
            <div class="col col-4">Notes / Self-Learning / Assignments / Resources</div>
        </li>

        {% assign plan_items = site.data.plan | sort: "week" %}

        {% for item in plan_items %}
        <li class="table-row">
            <div class="col col-1" data-label="Week">
                Week {{ item.week }}
            </div>

            <div class="col col-1-2" data-label="Day">
                {{ item.day }}
            </div>

            <div class="col col-2" data-label="Slot 1 Activities">
                {{ item.slot1 | markdownify }}
            </div>

            <div class="col col-2" data-label="Slot 2 Activities">
                {{ item.slot2 | markdownify }}
            </div>

            <div class="col col-4" data-label="Notes / Self-Learning / Assignments / Resources">
                {{ item.notes | markdownify }}
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
